#beauty{
	padding: 0;
	position: relative;
	.beauty-img{
		position: relative;
		img{
			display: inline-block;
    		width: 100%;
		}
	}
	.content-tags{
		border-bottom: 3px solid #d2ba87;
		.fa-plus{
			top: -41px;
			background: #d2ba87;
		    -webkit-box-shadow: 0 0 0 10px rgba(210, 186, 135, 0.3);
		    box-shadow: 0 0 0 10px rgba(210, 186, 135, 0.3);
		}
	}
}
