#xtreme{
	padding: 0;
	position: relative;
	.extreme-img{
		position: relative;
		img{
			display: inline-block;
    		width: 100%;
		}
	}
	.content-tags{
		border-bottom: 3px solid #fff;
		.fa-plus{
			color: #000;
			top: -41px;
			background: #fff;
			-webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3);
			box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3);
		}
	}
}