#food{
	padding: 0;
	position: relative;
	.food-img{
		position: relative;
		img{
			display: inline-block;
    		width: 100%;
		}
	}
	.content-tags{
		border-bottom: 3px solid #82c326;
		.fa-plus{
			top: -41px;
			background: #82c326;
		    -webkit-box-shadow: 0 0 0 10px rgba(130, 195, 38, 0.3);
		    box-shadow: 0 0 0 10px rgba(130, 195, 38, 0.3);
		}
	}
}



/*food-category page*/
#food-wrapper{
	padding: 100px 25px 50px;
	width: 100%;
	h2, h3{
		color: #000 !important;
	}
	.category-content{
		padding: 10px 0;
	    position: relative;
	    width: 570px;
		.emoticons{
			img{
				display: inline-block;
			    margin: 0;
			    padding: 0;
			}

		}
	}
	.wrap-likes-comment{
		padding: 10px 0;
		.likes, .comments{
			width: auto;
			display: inline-block
		}

		.likes{
			padding-right: 20px;
		}
	}
	.button-like-share{
		.field{
			padding: 10px 48px;
		    border-style: none;
		    color: #fff;
		    margin: 10px 0 30px;
		    &:hover{
		    	background: #333;
		    }
		}
		.like-field{
			background: #3b5998;
			margin-right: 10px;
		}
		.share-field{
			background: #83c325;
		}
	}
}


@media screen and (max-width: 624px){
	#food-wrapper{
		h2{
			font-size: 20px;
		} 
		h3{
			font-size: 24px;
		}
		.category-content{
		    width: 100%;
		}
	}
}