#liebe{
	padding: 0;
	position: relative;
	.liebe-img{
		position: relative;
		img{
			display: inline-block;
    		width: 100%;
		}
	}
	.content-tags{
		border-bottom: 3px solid #db2e40;
		.fa-plus{
			top: -41px;
			background: #db2e40;
			-webkit-box-shadow: 0 0 0 10px rgba(255, 42, 64, 0.3);
			box-shadow: 0 0 0 10px rgba(255, 42, 64, 0.3);
		}
	}
}