#lifestyle{
	padding: 0;
	position: relative;
	.lifestyle-img{
		position: relative;
		img{
			display: inline-block;
    		width: 100%;
		}
	}
	.content-tags{
		border-bottom: 3px solid #b5b5b5;
		.fa-plus{
			top: -41px;
			background: #b5b5b5;
		    -webkit-box-shadow: 0 0 0 10px rgba(181, 181, 181, 0.3);
		    box-shadow: 0 0 0 10px rgba(181, 181, 181, 0.3);
		}
	}
}