#sport{
	padding: 0;
	position: relative;
	.sport-img{
		position: relative;
		img{
			display: inline-block;
    		width: 100%;
		}
	}
	.content-tags{
		border-bottom: 3px solid #0e5b1c;
		.fa-plus{
			top: -41px;
			background: #0e5b1c;
		    -webkit-box-shadow: 0 0 0 10px rgba(14, 91, 28, 0.3);
		    box-shadow: 0 0 0 10px rgba(14, 91, 28, 0.3);
		}
	}
}