#stories{
	padding: 0;
	position: relative;
	.stories-img{
		position: relative;
		img{
			display: inline-block;
    		width: 100%;
		}
	}
	.content-tags{
		border-bottom: 3px solid #501082;
		.fa-plus{
			top: -41px;
			background: #501082;
			-webkit-box-shadow: 0 0 0 10px rgba(80, 16, 130, 0.3);
    		box-shadow: 0 0 0 10px rgba(80, 16, 130, 0.3);
		}
	}
}