#unterhaltung{
	padding: 0;
	position: relative;
	.unterhaltung-img{
		position: relative;
		img{
			display: inline-block;
    		width: 100%;
		}
	}
	.content-tags{
		border-bottom: 3px solid #fabf33;
		.fa-plus{
			top: -41px;
			background: #fabf33;
		    -webkit-box-shadow: 0 0 0 10px rgba(250, 191, 51, 0.3);
		    box-shadow: 0 0 0 10px rgba(250, 191, 51, 0.3);
		}
	}
}