#stars{
	padding: 0;
	position: relative;
	.stars-img{
		position: relative;
		img{
			display: inline-block;
    		width: 100%;
		}
	}
	.content-tags{
		border-bottom: 3px solid #dd0a6b;
		.fa-plus{
			top: -41px;
			background: #dd0a6b;
		    -webkit-box-shadow: 0 0 0 10px rgba(221, 10, 107, 0.3);
		    box-shadow: 0 0 0 10px rgba(221, 10, 107, 0.3);
		}
	}
}